
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myAuthorLabel">Create or edit a Author</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.author.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.author.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_firstName">First Name</label>
            <input type="text" class="form-control" name="firstName" id="field_firstName"
                    ng-model="vm.author.firstName"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" id="field_lastName"
                    ng-model="vm.author.lastName"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_age">Age</label>
            <input type="number" class="form-control" name="age" id="field_age"
                    ng-model="vm.author.age"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_book">Book</label>
            <input type="text" class="form-control" name="book" id="field_book"
                    ng-model="vm.author.book"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_login">Login</label>
            <input type="text" class="form-control" name="login" id="field_login"
                    ng-model="vm.author.login"
                    required ng-minlength="8" ng-maxlength="25" ng-pattern="/^[a-zA-Z0-9]*$/" />
            <div ng-show="editForm.login.$invalid">
                <p class="help-block"
                    ng-show="editForm.login.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.login.$error.minlength" translate-value-min="8">
                    This field is required to be at least 8 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.login.$error.maxlength">
                    This field cannot be longer than 25 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.login.$error.pattern" translate-value-pattern="^[a-zA-Z0-9]*$">
                    This field should follow pattern "^[a-zA-Z0-9]*$".
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_password">Password</label>
            <input type="text" class="form-control" name="password" id="field_password"
                    ng-model="vm.author.password"
                    required ng-minlength="8" ng-maxlength="25" />
            <div ng-show="editForm.password.$invalid">
                <p class="help-block"
                    ng-show="editForm.password.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.password.$error.minlength" translate-value-min="8">
                    This field is required to be at least 8 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.password.$error.maxlength">
                    This field cannot be longer than 25 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_userId">User Id</label>
            <input type="number" class="form-control" name="userId" id="field_userId"
                    ng-model="vm.author.userId"
                     />
        </div>

        <div class="form-group">
            <label for="field_authorToUser">Author To User</label>
            <select class="form-control" id="field_authorToUser" name="authorToUser" ng-model="vm.author.authorToUserId" ng-options="user.id as user.id for user in vm.users"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
